<h1>野球ページ</h1>
<% @tweets.each do |tweet| %>
  <% if tweet.classify == "baseball" %> 
  <hr>
  <p><span>email: </span><%=link_to tweet.user.email, tweet_path(tweet.id) %></p> <!-- 追加 -->
  <p><span>スポーツ: </span><%=link_to tweet.classify, tweet_path(tweet.id) %></p>
  <p><span>内容: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
  <% end %>
<% end %>